1. Write a program to print all natural numbers from 1 to 25.

In [6]:
for var in range(1, 26):
    print(var, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

2. Write a program to print all natural numbers in reverse (from 30 to 1).

In [5]:
for var in range(30, 0, -1):
    print(var, end=" ")

30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

3. Write a program to print all odd numbers between 1 and 100 inclusive.

In [4]:
for var in range(1, 101, 2):
    print(var, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

4. Write a program to find the sum of all natural numbers between 1 and 50 inclusive.

In [10]:
sum = 0
for var in range(1, 51):
    sum += var
print(sum)
# print(int(50*51/2)) # this is to check the solution

1275

5. Write a program to find the sum of all even numbers between 1 to 50 inclusive.

In [13]:
sum = 0
for var in range(2, 51, 2):
    sum += var
print(sum)

650

6. Given a number ‘num’, find its factorial. (Factorial of 7 = 7! = 7 x 6 x 5 x 4 x 3 x 2 x 1)

In [14]:
num = 7
factorial = 1
for i in range(2, num+1):
    factorial *= i
print(factorial)

5040

7. Given two integers a and b, find the value of a raised to power b. Ex: a=2, b=3 will give 8.

In [15]:
a, b = 2, 3
answer = 1
for i in range(b):
    answer *= a
print(answer)

8

8. Write a program to print multiplication table (up to 10) of any number saved in variable ‘num’. Print the full expression on each line, ex: “3 x 10 = 30”

In [18]:
num = 12
for multiplier in range(1, 11):
    print(num, "x", multiplier, "=", num*multiplier)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

9. Write a program to check whether a number is Prime number or not.

In [21]:
num = 33
is_prime = True
for i in range(2, int(num**0.5+1)):
    if num % i == 0:
        is_prime = False
        break
print(is_prime)

False

10. Write a program to print all Prime numbers between 1 and 100.

In [22]:
for num in range(1, 101):
    is_prime = True
    for i in range(2, int(num**0.5+1)):
        if num % i == 0:
            is_prime = False
            break
    if is_prime: print(num, end=" ")

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

11. Ask user to enter a command. If the command is not “x” print the command and ask for the next command. Keep repeating, until the user enters “x”.

    HINT: Use a ‘while’ loop.

In [26]:
command = not "x"
while command != "x":
    command = input("Enter a command: ")

Enter a command: g
Enter a command: h
Enter a command: t
Enter a command: y
Enter a command: x

12. Write a program to print the following triangle using for-loop. 
    
    HINT: First figure out how to print multiple stars on the same line.
    In Java, use System.out.print instead of System.out.println
    In JS and Python, keep adding stars into an empty string. Then print the entire string at once.
    In C++, this is not an issue because endl is used explicitly.  
```
    *
    **
    ***
    ****
    *****
```

In [30]:
num = 5
for line_number in range(1, num+1):
    to_print = ""
    for i in range(line_number):
        to_print += "*"
    print(to_print)

*
**
***
****
*****

13. Write a program to print the following triangle using for-loop.

```
    *
   ***
  *****
 *******
*********
```

In [38]:
n_lines = 5
n_stars = 1
for i in range(1, n_lines+1):
    n_space = n_lines - i 
    print(" "*n_space + "*"*n_stars)
    n_stars += 2

    *
   ***
  *****
 *******
*********